<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<dict>
		<key>title3</key>
		<string>6C71C4</string>
		<key>em</key>
		<string>859900</string>
		<key>strong</key>
		<string>111111</string>
		<key>code</key>
		<string>718c00</string>
		<key>codeBackground</key>
		<string>FFFFFF</string>
		<key>highlight</key>
		<string>EEE8D5</string>
		<key>background</key>
		<string>FFFFFF</string>
		<key>checked</key>
		<string>8e8e8e</string>
		<key>default</key>
		<string>111111</string>
		<key>subtitle</key>
		<string>268BD2</string>
		<key>title</key>
		<string>DC322F</string>
		<key>zone</key>
		<string>8959a8</string>
		<key>red</key>
		<string>c82829</string>
	</dict>
	<key>font</key>
	<string>Menlo</string>
</dict>
</plist>
